source .env

export TOOLCHAINS=$(plutil -extract CFBundleIdentifier raw /Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-2024-06-13-a.xctoolchain/Info.plist)
export PICO_BOARD=pico
export PICO_SDK_PATH=./pico-sdk
export PICO_TOOLCHAIN_PATH=$ARM_TOOLCHAIN_PATH
